basename
bc
cal
cb
cmp
col
comm
diskspeed
du
egrep
false
fgrep
file
grep
head
hostid
join
last
mail
makedep
mesg
nice
nohup
od
pagesize
pr
printenv
rev
size
sort
split
strip
su
sum
tail
tee
time
touch
tr
true
tsort
tty
uniq
vmstat
w
wall
wc
who
write
